
<section class="main_section" data-ng-controller="WizardController" data-ng-init="findOne()">   
    <!--questions design starts-->
    <article>
    	<figure class="box_visaguide">
    		<img class="img_visaguide" ng-src="img/visa_0007_Honduras.png">
    	</figure>
    	<figure id="box_star">
    		<img id="img_star" ng-src="{{randomImage}}">
    	</figure>
    	<div class="question-box">
                <h4>{{currentQuestion.title}}</h4>  
    	</div>
        
    </article>
    <figure class="box-loading">
        <img id="img-loading" src="img/LoadingAnimation.gif"> 
    </figure>  
    <div class="wrap-options">
        <div class="button-answer-box" ng-repeat="currentAnswer in currentAnswers">
            <button type="button" class="button-answer" ng-click=" answerToShow(currentAnswer);" scroll-on-click>{{$index+1}}: {{currentAnswer.title}}</button>
            <!--<img class="imgwizard_arrow" src="img/checklist__0000_Shape-15-copy-2.png" align="right" ng-click="showTipAnswer = ! showTipAnswer;">-->

        </div>       
    </div>
    <div class="tip-answer-wrap" ng-show="currentTip.show">
        <div class="tip-answer" ng-show="currentTipo.show">                
            <p>{{answer.tip}} <span>{{answer.antitip}}</span></p>                       
        </div>
        <div ng-show="currentTip.show">
            <button id="bottom" type="button" class="button-continue" ng-click="setCurrentQuestion(answer.next_question - 1, answer.checklist_id); checklistItemsFactory.addToChecklist(answer.checklist); checklistItemsFactory.addVisaType(answer.visa_type); currentTip.show =! currentTip.show">Continúe <img class="img-arrow" src="img/visaguide_arrow.png"></button>

        </div>
    </div>   
</section>
<footer>        
    <div class="foo"><a href="#!/faq/1">PREGUNTAS</a></div>
    <div class="foo-center"><a href="#!">INICIO</a></div>
    <div class="foo"><a href="#!/resources/1">RECURSOS</a></div>          
</footer>