<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Lista de verificación enviada</h4>
    </div>
    <div class="modal-body">      
      <p class="modal-message">La lista de verificación ha sido enviada de manera exitosa a su correo electrónico.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" ng-click="cancel(); go()">OK</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->